body{

	background: url(https://ae01.alicdn.com/kf/HTB11oNaX._rK1Rjy0Fcq6zEvVXaW/abstract-woman-silhouette-PQT209-fabric-poster-custom-print-for-wall-art-room-decor-home-decoration-frame.jpg);
    background-repeat:no-repeat; 
    background-size: 1000px;
	background-position:54% 45%;
	margin-top: 250px;	
	background-color: black;

}
.one{
	padding-top:-100px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: -300px;
	text-align: left;
	width:400px;
	background-color:#d3d3d3;
	position: relative;
	left:-200px;
	top:-125px;
}
.two{
	width:400px;
	background-color:#d3d3d3;
	padding-right: 15px;
	padding-bottom:10px;
	padding-top: 10px; 
	text-align: right;
	position: relative;
	top:-125px;
    right:-345px;
	}
.only{
	color:black;
}
.red{

	padding-left: 20px;
	padding-right: 20px;
    margin-right: 150px;
margin-top:-230px;
  margin-left: -10px;
	height:40px;
	background-color:white;
	float:right;
}

.only:hover{
	color:grey;
	
}
.teal{
	padding-top: 10px;
	margin-bottom: 150px;
	margin-top: -220px;
	    width:1545px;
	height:60px;
			color:white;
	margin-left: -230px;
	background-color: #008080;
	
	text-align: center;
}
h3{
	padding-right:-30%;
}

hr{
	color:white;
}
h3{
	font-style: bold;
}
footer{
	width:1520px;
	height:100px;
	
	background-color: grey;
		
}

.foot{
	
    padding-left: 10px;
    text-align: left;
	color:black;
}
a{
	color:blue;
}
.mail{
	padding-left:200px;
	color:black;

}